* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
}

.product-card {
  width: 250px;
  height: 350px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card-img-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;

}
.product-card img {
  max-width: 100%;
  max-height: 100%;
  marign: 20px 30px;
}

.product-card-content {
  padding: 10px;
  text-align: center;
}

.product-card-content button {
  width: 100%;
  text-align: center;
  padding: 25px 5px;
  background-color: rgb(75, 126, 0);
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}